@mixin light {
  color-scheme: light;
  --border-in-light: 1px solid rgb(222, 222, 222);
  --white: white;
  --black: rgb(48, 48, 48);
}

@mixin dark {
  color-scheme: dark;
}

.light {
  @include light;
}

.dark {
  @include dark;
}

:root {
  @include light;
}

.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  line-height: 1.5;
  word-wrap: break-word;

  p {
    margin: 0;
  }
  .pre-code {
    position: relative;

    &:hover .copy-code-button {
      pointer-events: all;
      transform: translateX(0px);
      opacity: 0.5;
    }

    .copy-code-button {
      position: absolute;
      right: 10px;
      top: 6px;
      cursor: pointer;
      padding: 0px 5px;
      background-color: var(--black);
      color: var(--white);
      border: var(--border-in-light);
      border-radius: 10px;
      transform: translateX(10px);
      pointer-events: none;
      opacity: 0;
      transition: all ease 0.3s;

      &:after {
        content: 'copy';
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.markdown-body ul,
.markdown-body ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1em;
}

.markdown-body blockquote {
  margin: 0;
  padding: 0 1em;
  color: var(--color-fg-muted);
  border-left: 0.25em solid var(--color-border-default);
}
